html {
  scroll-snap-type: y mandatory;
}

.app {
  background-color: black;
  /* CSS GRID CENTER HACK */
  display: grid;
  place-items: center;
  padding: 60px;
  overflow: none;
}

.app_videos {
  /* object-fit: contain; */
  position: relative;
  height: 500px;
  border-radius: 20px;

  overflow: scroll;
  width: 50%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app_videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app_videos {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Media Queries */

/* Smartphones */
@media only screen and (max-width: 600px) {
  .app {
    height: 700px;
  }
  .app_videos {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .app {
    height: 920px;
  }
  .app_videos {
    height: 800px;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .app {
    height: 1250px;
  }

  .app_videos {
    height: 1100px;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .app {
    /* height: 100px; */
  }

  .app_videos {
    top: -370px;
    height: 600px;
    width: 100%;
  }
}
